<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>884010620438-t9eepadjh1b974shv6b5r9e8p8a57d66.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884010620438-t9eepadjh1b974shv6b5r9e8p8a57d66</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>884010620438-mo0r5jjf8v6f5qas7cki6nrvvhqo3j4c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4CwnrAYGXneBZyiJMJ7OXw2v4Zor7dXU</string>
	<key>GCM_SENDER_ID</key>
	<string>884010620438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kalleoapp.kalleo</string>
	<key>PROJECT_ID</key>
	<string>kalleonative</string>
	<key>STORAGE_BUCKET</key>
	<string>kalleonative.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884010620438:ios:791115eca227ad2d</string>
	<key>DATABASE_URL</key>
	<string>https://kalleonative.firebaseio.com</string>
</dict>
</plist>